@font-face {
    font-family: 'Myfont1';
    src: url('/font/Lovedo.ttf') format('truetype');
}
@font-face {
    font-family: 'Myfont2';
    src: url('/font/Love.ttf') format('truetype');
}
@font-face {
    font-family: 'Myfont3';
    src: url('/font/Silva\ Marine.otf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #ffffff 0%, #fff0f3 50%, #ffccd5 100%);
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
} 

#container {
    width: 60%;
    max-width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(230, 57, 70, 0.3);
    text-align: center;
    z-index: 10; 
}

.love {
    font-family: 'Myfont1';
    font-size: 18px;
    color: #e63946;
    margin: 10px 0;

}

.header h1 {
    font-family: 'Myfont2', serif;
    font-size: 20px;
    color: #d62828;
    margin: 10px 0;
    line-height: 1.2;
}

.usnpw input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffccd5;
    border-radius: 25px;
    outline: none;
    font-family: 'Myfont3';
    box-sizing: border-box; 
}

#error {
    color: #d62828;
    font-size: 12px;
    min-height: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: 'Myfont3';
}

.usnpw input:focus {
    border-color: #e63946;
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.4);
}

button {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    background-color: #e63946;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

button:hover {
    background-color: #c1121f;
    transform: scale(1.05);
}

.heart {
    position: fixed;
    bottom: -50px; 
    color: #ff4d6d; 
    user-select: none;
    pointer-events: none; 
    z-index: 1;
    opacity: 0.8;
}

@keyframes float { 
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1; 
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-110vh) rotate(360deg); 
    }
}